<html>
<head>
    <title>Similar Author Identification</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="http://getbootstrap.com/examples/starter-template/starter-template.css" />

    <style type="text/css">
        body {
            text-align: center;
        }
    </style>

</head>

<body>

<h1>Error</h1>
<br/><br/><br/>
<h3>An error occurred during execution. See logs for more information.</h3>
<br/><br/>
<form class="form-horizontal" role="form" id='back-form' method='get' action='/'>
</form>
<input type='submit' value='Back' class="btn btn-primary" id="run-button" form='back-form' />
</body>
</html>
