<html>
    <head>
        <title>Similar Author Identification</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="http://getbootstrap.com/examples/starter-template/starter-template.css" />

        <style type="text/css">
            body {
                text-align: center;
            }
            .blog-post-content {
                margin: 80;
            }
            #run-button {
                float: right;
                width: 100;
            }
            .result-content {
                text-align: center;
                background-color: rgb(12, 144, 136);
                margin-left: 350px;
                margin-right: 305px;
                padding: 20px;
                color: white;
                border: 2px solid;
                border-radius: 25px;
            }

        </style>

    </head>

    <body>

    <h1>Similar Author Identification</h1>

    <div class="blog-post-content">
        <form class="form-horizontal" role="form" id='blog-post-form' method='post' action='/'>
            <div class="form-group">
                <h4 class="control-label" style="float: left">Blog Post (in German)</h4>
                <br/><br/>
                <div>
                    <textarea class="form-control" cols="20" rows="20" id="blog-post" name='blog-post' placeholder="Enter a blog post..." required>{{blog-post}}</textarea>
                </div>
            </div>
        </form>

        <input type='submit' value='Run' class="btn btn-primary" id="run-button" form='blog-post-form' />
    </div>

    {{#result}}
        <hr/>

        <div class="result-content">
            <h2>Result</h2>
            <br/>
            The blog post belongs to <b>Cluster {{cluster}}</b>
            <br/><br/>
            <h4><b>{{cluster-name}}</b></h4>
            <br/>
                {{#cluster-labels}}
                    {{.}}<br/>
                {{/cluster-labels}}
        </div>
    {{/result}}

    </body>
</html>
